* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: clip;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

body {
  @media (min-width: $xxmedium-min-width) {
    position: relative;
  }
}

main {
  overflow-x: clip;
}

sup {
  font-size: 60%;
}

.max-w-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $small-min-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

canvas {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
