/* @font-face {
	font-family: "All Together Sans";
	src: url("../public/fonts/AllTogetherSans-Black.eot");
	src: url("../public/fonts/AllTogetherSans-Black.eot?#iefix")
			format("embedded-opentype"),
		url("../public/fonts/AllTogetherSans-Black.woff2") format("woff2"),
		url("../public/fonts/AllTogetherSans-Black.woff") format("woff"),
		url("../public/fonts/AllTogetherSans-Black.ttf") format("truetype"),
		url("../public/fonts/AllTogetherSans-Black.svg#AllTogetherSans-Black")
			format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


 @font-face {
	font-family: "ezetee-gill";
	src: url("../../public/fonts/EZETEE-GillSansNova-Bold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
 }

 @font-face {
	font-family: "ezetee-gill";
	src: url("../../public/fonts/EZETEE-GillSansNova-CnMedium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
 }

 @font-face {
	font-family: "ezetee-gill";
	src: url("../../public/fonts/EZETEE-GillSansNova-SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
 }

 @font-face {
	font-family: "ezetee-gill";
	src: url("../../public/fonts/EZETEE-GillSansNova-Book.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
 }

 @font-face {
	font-family: "nepnwh-gill";
	src: url("../../public/fonts/NEPNWH-GillSansNova-Bold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
 }

 @font-face {
	font-family: "nepnwh-gill";
	src: url("../../public/fonts/NEPNWH-GillSansNova-CnMedium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
 }

 @font-face {
	font-family: "nepnwh-gill";
	src: url("../../public/fonts/NEPNWH-GillSansNova-SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
 }

 @font-face {
	font-family: "nepnwh-gill";
	src: url("../../public/fonts/NEPNWH-GillSansNova-Book.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
 } */
