@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");

/* @font-face {
	font-family: "All Together Sans";
	src: url("../public/fonts/AllTogetherSans-Black.eot");
	src: url("../public/fonts/AllTogetherSans-Black.eot?#iefix")
			format("embedded-opentype"),
		url("../public/fonts/AllTogetherSans-Black.woff2") format("woff2"),
		url("../public/fonts/AllTogetherSans-Black.woff") format("woff"),
		url("../public/fonts/AllTogetherSans-Black.ttf") format("truetype"),
		url("../public/fonts/AllTogetherSans-Black.svg#AllTogetherSans-Black")
			format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


 @font-face {
	font-family: "ezetee-gill";
	src: url("../../public/fonts/EZETEE-GillSansNova-Bold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
 }*/
